html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar h2 {
  text-align: center;
}

.bar::before {
  content: ' ';
  display: inline-block;
  color: bar;
  background-color: pink;
  margin-right: 5px;
  width: 200px;
  height: 20px;
}
